{% extends "news.html" %}
  {% block content %}
    {% for news in newss %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card_style.css') }}">
    
      <div class="blog">
        <div class="title-box">
          <h3>
            {{ news.titolo }}
          </h3>
          <hr/>
          <div class="intro">
            {{ news.testata_giornalistica }}
          </div>
        </div>  
        <div class="info">
          <span>{{ news.testo}}</span>
      </div>
      <div class="footer">
        <div class="icon-holder">
          <span>
        <i class="fa fa-comment-o"></i>
          <span>{{ news.autori }}</span>
          <space></space>
          <i class="fa fa-calendar"></i>
          <span>{{ news.data_di_pubblicazione}}</span>
          </span>
        </div>
      </div>  
      
    <div class="color-overlay"></div>
    </div>
    
  
    {% endfor %}
{% endblock content %} 
