<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card_style.css') }}">

   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
  <body>
    
    {% for news in newss %}
    <div class="blog" style='background:url( {{ news.urlToImage }} )'>
      <div id = "all" value ='{{ news }}'> </div>
      
      {% if session["user_id"] %}
      <div>
        <input id="star" onclick="check(this)" class="star" type="checkbox" > 
      </div>
      {% endif %}

      <div class="title-box">
        <h3>
          <a href="{{ news.url }}">{{ news.title }}</a>
        </h3>
        <hr/>
        <div class="intro">

        </div>
      </div>  
      <div class="info">
        <span>{{ news.content}}</span>
    </div>
    <div class="footer">
      <div class="icon-holder">
        <span>
      <i class="fa fa-comment-o"></i>
        <span>{{ news.author }}</span>
        <space></space>
        <i class="fa fa-calendar"></i>
        <span>{{ news.publishedAt}}</span>
        </span>
      </div>
    </div>  
    
   <div class="color-overlay"></div>
  </div>
  <br>
  {% endfor %}
  <style>
    html { 
      background: url({{url_for('static', filename='nuvola.png')}}) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
  <script src="{{url_for('static', filename='script_news.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 


  </body>
</html>
