<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card_style.css') }}">

   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
  <body>
    
    
    {% for news in newss %}
    <div class="blog" style='background:url( {{ news.urlToImage }} )'>
      <div class="title-box">
        <h3>
          {{ news.title }}
        </h3>
        <hr/>
        <div class="intro">
          {{ news.source['name']}}
        </div>
      </div>  
      <div class="info">
        <span>{{ news.content}}</span>
    </div>
    <div class="footer">
      <div class="icon-holder">
        <span>
      <i class="fa fa-comment-o"></i>
        <span>{{ news.author }}</span>
        <space></space>
        <i class="fa fa-calendar"></i>
        <span>{{ news.publishedAt}}</span>
        </span>
      </div>
    </div>  
    
   <div class="color-overlay"></div>
  </div>
  {% endfor %}
  
            
  

  </body>
</html>
