body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .background-image {
    /* The image used */
    background-image: url("media-crisi-climarica-e-quotidiani-.jpg");
  
    /* Add the blur effect
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    /* height: 100%; */
  
    /* Center and scale the image nicely */
    
    /* background-size: cover; */
   }
  
  /* Position text in the middle of the page/image */
  .title-homepage {
   color: white;
    font-weight: bold;
    font: arial;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 80%;
    padding: 20px;
    text-align: center;
  }
/* 
input.transparent-input{
    background-color:transparent !important;
    border:none !important;
 }

 .search {
    margin: auto;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius:  3px;
    
 }

 input {
    width: 370px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }

 button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: #fff;
    background: transparent;
    border-left: 1px solid rgb(42, 17, 17);
    border-radius: 0 3px 3px 0;
    
    } */